img/teste.png
Imageomatic
img/cinzento.png
img/desfocado.png
img/esteganografia.png
img/funcao.png
img/goticula.png
img/mascarar.png
img/matizacao.png
img/metade.png
img/negativo.png
img/pintar.png
img/poster.png
img/rotacao_90.png
